node_modules/
.next/
out/
coverage/
playwright-report/
test-results/
*.tsbuildinfo
*.log

.env
.env.*
!.env.example

.idea/
*.iml

.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.DS_Store
*.pem
.vercel/
build/
next-env.d.ts
